@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 35s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(1);
    }

    70% {
        transform: translateX(-50%);
    }
}

.animate-slide1 {
    animation: slide 40s linear infinite;
}